*,
*::after,
*::before {
  line-height: 1.5;
}

:root {
  --color-dark-gray: hsl(0, 0%, 30%);
}

body {
  /* 
  Aumenta el tamaño mínimo para que no haya problemas con visualizar el 
  contenido ni con que el modal se comience a ver feo. Aunque en ese caso el 
  modal debería ser el que tiene un tamaño mínimo.
  */
  min-width: 430px;
  display: flex;
  justify-content: center;
  background-color: white;
}

/* Aplicar los siguientes estilos a los hedings. */
:is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 0;
}

/* input[type="checkbox"][name="ver-todos"] */
input[type="checkbox"] {
  /* Cambiamos color del checkbox. */
  accent-color: var(--color-primary);
}

.hide {
  display: none;
}

/* 
Mostrar elementos con flex. Especificidad para que funcione el show-flex a pesar
de que haya otro display indicado.
*/
.tarea.show-flex,
.modal.show-flex {
  display: flex;
}

.container-fluid,
.container-lg {
  padding: 0;
  transition: all 0.2s ease-out;
}

/* Cuando la pantalla ya sea para dispositivos más pequeños, centrar el modal. */
@media (max-width: 768px) {
  .modal.show-flex {
    align-items: center;
    justify-content: center;
  }
}
