/*
  Contenedor de la lista de tareas.  Pensarlo primero para celulares.
*/
.tareas-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  transition: width 0.2s ease-out;
  flex-grow: 1;
  flex-basis: 100%;
}

.tareas-container__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  background-color: #18a4bc;
  color: white;
  font-weight: 400;
  flex-basis: 100%;
  text-align: center;
  row-gap: 1.5em;
}

.tareas-container__title > * {
  flex-basis: 100%;
}

/* Contenedor de las opciones: ver todos, nueva. */
.tareas-container__opciones {
  display: flex;
  padding: 1em;
  flex-grow: 1;
  font-size: 1.2em;
  justify-content: space-between;
  flex-basis: 100%;
  align-items: center;
}

/* Contenedor con el checkbox y label para filtrar elementos. */
.ver-todos-container {
  display: flex;
  gap: .3em;
  justify-content: space-between;
  align-items: center;
  }

/* @media (min-width: 576px) {
  .tareas__container {
    max-width: 540px;
  }
} */

@media (min-width: 768px) {
  .tareas-container__title {
    padding: 3.5em;
  }
}

/* Fuente base más pequeña para pantallas más pequeñas. */
@media (max-width: 576px) {
  /* :root {
    font-size: 14px;
  } */
}

/* @media (min-width: 768px) {
  .tareas-container {
    max-width: 768px;
  }
} */
