*,
*::after,
*::before {
  line-height: 1.5;
}

:root {
  --color-dark-gray: hsl(0, 0%, 30%);
}

body {
  min-width: 350px;
  display: flex;
  justify-content: center;
  background-color: white;
}

/* Aplicar los siguientes estilos a los hedings. */
:is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 0;
}

/* input[type="checkbox"][name="ver-todos"] */
input[type="checkbox"] {
  /* Cambiamos color del checkbox. */
  accent-color: var(--color-primary);
}

.hide {
  display: none;
}

.container-fluid,
.container-lg {
  padding: 0;
  transition: all 0.2s ease-out;
}
