/* Estilos para las tareas en específico. */

.lista-tareas {
  padding: 0 1em 1em;
  flex-basis: 100%;
  transition: all 0.1s ease-in;
}

/* 
Ocultar tareas por default para cargar todas al inicio y solo mostrarlas en
lugar de cargarlas cuando el usuario lo pida. Que solo estén ocultas.

Aunque me imagino que, en cuando a performance, sería mejor solo cargar lo
necesario y después cargar lo demás si es requerido.
*/
.tarea {
  transition: 
    all 0.2s ease-out, 
    background-color 0.15s ease-out;
  /* display: flex; */
  display: none;
  flex-wrap: wrap;
  border-top: solid 0.1px lightgray;
  padding: 1em;
  row-gap: 1em;
}

/* Información principal de la tarea. */
.tarea__info {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  flex-basis: 100%;
  row-gap: .7em;
  column-gap: .7em;
  /* align-items: top; */
}

.tarea__info--title {
  font-size: 1.5em;
}

/* Alinear tiempo a la derecha por si se hace un wrap. */
.tarea__info--time {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  font-size: 0.9em;
  color: var(--color-dark-gray);
}

/* Indicar si la tarea se completó o no. */
.tarea__check {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

/* .tarea__check > input[type="checkbox"] {
  accent-color: var(--color-success);
} */

/* Color de tarea completada. */
.tarea__completada {
  background-color: #a8c4ac;
}


@media (max-width: 576px) {
  .tarea__info {
    flex-wrap: nowrap;
  }
  /* Que se divida en 3 partes el contenedor. */
  .tarea__info--title {
    flex: 2;
  }
  .tarea__info--time {
    flex: 1;
  }
}
