/* Mostrar modal de base. */
/* .modal {
display: block; 
} */

.modal-header {
  align-items: center;
  padding: 1em;
}

.modal-header__close-button {
  height: fit-content;
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  border-bottom: 0;
}

.modal-body >* {
  flex-grow: 1;
}

.modal-body__form {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  /* Espacio entre filas. */
  row-gap: 1em;
}

.modal-body__form-item {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.modal-body__form-item > label {
  flex-basis: 20%;
}

.modal-body__form-item > textarea {
  resize: none;
}

.modal-body__form-item > input,
.modal-body__form-item > textarea {
  flex-basis: 70%;
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 0.8em;
  font-size: 1em;
}

.modal-body__form-item > input[type="date"] {
  font-size: 1.05em;
  color: var(--color-dark-gray);
}

/* --------------------- INDICADOR DE CAMPOS INCOMPLETOS -------------------- */

.indicador-campos {
  --color-campos-incompletos: #dd2a3c;
  --bg-campos-incompletos: #f38b96;
  --color-campos-completos: var(--color-success);
  --bg-campos-completos: var(--color-light);
  padding: .5em 1em;
  font-weight: 600;
  font-size: 1.1em;
  border-radius: 4px;
  /* No mostrar de base, sino con la clase show. */
  display: none;
}

/* Centrar contenido del indicador de campos. */
.indicador-campos > * {
  margin: 0 auto;
  width: fit-content;
}

.indicador-campos--incompletos {
  background-color: var(--bg-campos-incompletos);
  color: var(--color-campos-incompletos);
  border: solid 1px var(--bg-campos-incompletos);
}

.indicador-campos--completos {
  background-color: var(--bg-campos-completos);
  color: var(--color-campos-completos);
  border: solid 1px var(--bg-campos-completos);
}

/* Botón en estado inactivo. */
.unactive-btn {
  background-color: var(--color-success-darked);
}
