/* Estilos para las tareas en específico. */

.tarea {
  display: flex;
  border-top: solid 1px hsl(1 1% 50%);
}

/* Información principal de la tarea. */
.tarea__info {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  align-items: top;
}

/* Indicar si la tarea se completó o no. */
.tarea__check {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  align-items: bottom;
}

/* Color de tarea completada. */
.tarea__completada {
  background-color: #a8c4ac;
}
