/*
  Contenedor de la lista de tareas.  Pensarlo primero para celulares.
*/
.tareas__container {
  width: 100%;
  display: flex;
  transition: width 0.2s ease-out;
}

.tareas__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2em .5em;
  background-color: #18a4bc;
}

/* Contenedor de las opciones: ver todos, nueva. */
.tareas__opciones {
display: flex;
justify-content: space-between;
align-items: center;
}

@media (min-width: 576px) {
  .tareas__container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .tareas__container {
    max-width: 720px;
  }
}
